*.swp
env.sh
install-config*.yaml
inventory.ini
config
ignition
*tfstate
terraform/.terraform
terraform/.terraform*
terraform/terraform.tfstate
terraform/terraform.tfstate.*
openshift-install-linux-*.tar.gz
openshift-client-linux-*.tar.gz
*_my
*_my/
*.tfvars